<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax请求json数据</title>
</head>
<style>
    #test{

        width:64%;
        height:100%;
        float: left;
        text-align: center;
    }
    #pinlun{
        float: right;
        width: 28%;
    }
</style>
<body>
<div style="margin-bottom: 150px;width: 100%;height: 700px;margin:0 auto;">
    <div id="test">
            adfsdfassdgsasaf
    </div>
<div id="pinlun">
    <p>我是一条评论</p>
    <p>我是一条评论</p>

       </dv>
</div>
</div>
<div style="margin:0 auto;width:1000px;height: 500px">

    <form class="form-horizontal js-ajax-form" action="/api/artilce/releasecomment" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="picType" class="col-sm-2 control-label">发布者</label>
            <div class="col-sm-10">
                <input type="text" name="user" class="form-control" id="picType"/>
            </div>
        </div>
        <label for="picType" class="col-sm-2 control-label">发布内容</label>
        <div><textarea name="content"></textarea></div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default js-ajax-submit">提交</button>
            </div>
        </div>

        <div>
            <input hidden="hidden" id="articleid" name="articleidName">
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script>
     $(function(){
         var id = getQueryString("id");
        // alert(id)
         // document.getElementById("test").innerHTML=content;
        $.ajax({
            //请求方式
            type:"GET",
            //文件位置
            url:"http://127.0.0.1:8004/api/artilce/aitlecontent",
            //返回数据格式为json,也可以是其他格式如
            dataType: "json",
            data:{id:id},
            //请求成功后要执行的函数，拼接html
            success: function(data){
                 var str=data.result.content;
                var id=data.result.id;
                 console.log(str)
                // $.each(data.result,function(i,n){
                //     str+="<li><a>"+"ID："+n.id+"</a></li>";
                //     str+="<li>"+"标题："+n.title+"</li>";
                //     str+="<li>"+"地址："+n.creattime+"</li>";
                // });
                // str+="</ul>";

                $("#test").append(str);
                $("#articleid").val(id);

            }
        });
     });

     function getQueryString(name) {
         var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
         var r = window.location.search.substr(1).match(reg);
         if (r != null) {
             return unescape(r[2]);
         }
         return null;
     }


</script>
</body>
</html>